{% extends "base.html" %}

{% block content %}
<h1>Works log</h1>
<table>
    <tr>
        <td>Название</td>
        <td>Оригинальное название</td>
        <td>Год</td>
    </tr>
    <tr>
        <td>Человек-паук: Возвращение домой</td>
        <td>Spider-Man: Homecoming</td>
        <td>2017</td>
    </tr>
    <tr>
        <td>Человек-паук: Вдали от дома</td>
        <td>Spider-Man: Far From Home</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>Человек-паук: Нет пути домой</td>
        <td>Spider-Man: No Way Home</td>
        <td>2021</td>
    </tr>
</table>

{% endblock %}